<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
</head>
<body>
    <h1>{{> header}}</h1>
    <h2>THANOS YEEZY</h2>
    <img src="https://i.redd.it/7lr6orw20xn11.jpg" alt="THANOS YEEZY">
    {{> footer}}
</body>
</html>